// color
$primary-color: #BC5435;
$light-color: #fff;

// font size
$font-m: 1.3rem;
$font-s: .8rem;
$font-l: 2.3rem;

// font-weight
$light: 300;
$medium: 500;
$bold: 700;

// transition
$fast: 0.2s;
$slow: 1s;

// padding
$padding-m: 1rem;
$padding-s: .5rem;
$padding-l: 2rem;
