@use '../../styles/vars';

// App
.app {
  position: relative;
  width: 500px;
  max-height: calc(100vh - vars.$padding-m * 2);
  display: flex;
  flex-direction: column;
  //overflow-y: hidden;
  background-color: vars.$light-color;
  color: vars.$primary-color;
}
