@use '../../styles/vars';

// currencies
.currencies {
  flex-grow: 1;
  overflow-y: scroll;
  scrollbar-color: vars.$primary-color vars.$light-color;//firefox
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-thumb { /* Foreground */
    background: vars.$primary-color;
  }
  &::-webkit-scrollbar-track { /* Background */
    background: vars.$light-color;
  }
  &__title {
    padding: vars.$padding-m;
    font-weight: vars.$bold;
    font-size: vars.$font-m;
  }
  &__input {
    width: -webkit-fill-available;
    margin: 0 vars.$padding-s vars.$padding-s vars.$padding-s;
    padding: vars.$padding-s;
    border-radius: vars.$padding-l;
    background-color: vars.$light-color;
    border: 4px solid lighten($color: vars.$primary-color, $amount: 30);
    color: darken($color: vars.$primary-color, $amount: 10);
    font-size: vars.$font-s;
    font-weight: vars.$bold;
    
  }
  &__list {
    &__item {
      padding: vars.$padding-m;
      background-color: vars.$light-color;
      border-top: 1px solid lighten($color: vars.$primary-color, $amount: 30);
      transition: background-color vars.$slow ease-in;
      font-size: vars.$font-m;
      &:last-child {
        border-bottom: 1px solid lighten($color: vars.$primary-color, $amount: 30);
      }
      &:hover {
        background-color: lighten($color: vars.$primary-color, $amount: 30);
        cursor: pointer;
        transition: background-color vars.$fast ease-in;
      }
    }
  }
}
