@use '../../styles/vars';

// currencies
.currencies {
  flex-grow: 1;
  overflow-y: scroll;
  &__title {
    padding: vars.$padding-m;
    font-weight: vars.$bold;
    font-size: vars.$font-m;
  }
  &__list {
    &__item {
      padding: vars.$padding-m;
      background-color: vars.$light-color;
      border-top: 1px solid lighten($color: vars.$primary-color, $amount: 30);
      transition: background-color vars.$slow ease-in;
      font-size: vars.$font-m;
      &:last-child {
        border-bottom: 1px solid lighten($color: vars.$primary-color, $amount: 30);
      }
      &:hover {
        background-color: lighten($color: vars.$primary-color, $amount: 30);
        cursor: pointer;
        transition: background-color vars.$fast ease-in;
      }
    }
  }
}
