@use '../../styles/vars';

// header
.header {
  padding: vars.$padding-l;
  padding-bottom: calc(vars.$padding-l + 15px);
  text-align: center;
  background-color: vars.$primary-color;
  color: vars.$light-color;

  &__title {
    font-weight: vars.$bold;
    font-size: vars.$font-l;
    margin-bottom: 1rem;
  }

  &__input {
    padding: vars.$padding-s;
    margin-bottom: vars.$padding-m;
    background-color: vars.$light-color;
    border: 4px solid lighten($color: vars.$primary-color, $amount: 30);
    border-radius: 2rem;
    font-weight: vars.$light;
    font-size: vars.$font-m;
    text-align: center;
  }

  &__base-amount {
    font-weight: vars.$light;
    font-size: vars.$font-l;
  }
}
