@use '../../styles/vars';

// header
.header {
  padding: vars.$padding-l;
  padding-bottom: calc(vars.$padding-l + 15px);
  text-align: center;
  background-color: vars.$primary-color;
  color: vars.$light-color;

  &__title {
    font-weight: vars.$bold;
    font-size: vars.$font-l;
    margin-bottom: 1rem;
  }

  &__base-amount {
    font-weight: vars.$light;
    font-size: vars.$font-l;
  }
}
